.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all .2s;
}

.DrawerToggle div:hover {
    width: 95%;
    background: -moz-radial-gradient(#df9d74, #e75999);
    background: radial-gradient(#df9d74, #e75999);
}


@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}